:root {
    --background-color: rgb(12, 12, 12);
    --background-color-accent: rgb(20, 20, 20);
    --text-color: rgb(174, 178, 184);
    --link-color: rgb(174, 178, 184);
    --caption-color: rgb(82, 82, 82);
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: radial-gradient(circle, rgb(13, 21, 34) 0%, rgb(0, 0, 0) 100%);
}

body {
    margin: 20px;
    color: var(--text-color);
    font: var(--font-tasa-explorer);
    font-weight: 400;
    font-size: 20px;
}

* {
    text-shadow: .05em .04em 1px rgb(34, 39, 53);
}

a {
    color: var(--link-color);
}

.spaced {
    margin: 20px;
}

hr {
    box-shadow: 0px 2px 0px rgb(0, 0, 0);
}

.caption {
    font-style: italic;
    font-size: 16px;
    color: var(--caption-color);
}

.title {
    font-size: 80px;
}

.subtitle {
    font-size: 50px;
}

.content {
    width: min(1000px, 100%);
    margin: 2% auto;
}

.markdown-content img {
    width: 75%;
    height: auto;
    margin: 0 auto;
    object-fit: cover;
    display: flex;
}

.project-widget {
    width: auto;
    height: 100%;
    min-height: 250px;
    padding: 20px;
    margin: 20px 0px;
    background-color: var(--background-color-accent);

    background: #030508;
    background: linear-gradient(0deg, rgba(4, 5, 8, 0.5) 0%, rgba(7, 7, 7, 0.5) 100%);

    border-radius: 40px;
    border: 1px #131212 solid;
    box-shadow: 0px 0px 10px #4f50533f;
}

iframe {
    width: 100%;
    aspect-ratio: .75;
    margin: 20px 0px;
}

.project-widget-date {
    float: right;
    font-style: italic;
    font-size: 16px;
    color: var(--caption-color);
    margin: 20px;
}

.project-widget-link {
    text-decoration: none;
}

.project-widget-title {
    font-size: 40px;
    margin: 0px auto;
}

.project-widget-thumbnail {
    width: 400px;
    aspect-ratio: calc(8/5);
    max-width: 100%;
    float: right;
    object-fit: cover;
    border-radius: 20px;
}
