:root {
    --background-color: rgb(12, 12, 12);
    --background-color-accent: rgb(20, 20, 20);
    --text-color: rgb(174, 178, 184);
    --link-color: rgb(174, 178, 184);
    --caption-color: rgb(114, 114, 114);
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: radial-gradient(circle, rgb(13, 21, 34) 0%, rgb(0, 0, 0) 100%);
}

body {
    margin: 0px;
    padding: 0px;
    color: var(--text-color);
    font: var(--font-tasa-explorer);
    font-weight: 400;
    font-size: 20px;
}

* {
    text-shadow: .05em .04em 1px rgb(34, 39, 53);
}

code {
    background-color: #171b22;
    border-radius: 7px;
    padding: 1px 4px;
    text-shadow: .05em .04em 1px rgb(0, 0, 0);
}

pre {
    background-color: #bac0cf;
    padding: 7px 10px;
    border-radius: 7px;
}

pre code {
    background: none;
    border: none;
    padding: 0px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: anywhere;
}

.tag-button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tag-button {
    color: var(--text-color);
    font: var(--font-tasa-explorer);
    font-weight: 400;
    font-size: 20px;
    
    background-color: var(--background-color);
   
    background: #030508;
    background: linear-gradient(0deg, rgba(4, 5, 8, 0.5) 0%, rgba(7, 7, 7, 0.5) 100%);

    border-radius: 40px;
    box-shadow: 0px 0px 10px #4f50533f;
    cursor: pointer;
    padding: 2px 7px;
    transition: all 0.3s ease;
}


.active-filter {
    background-color: var(--caption-color);
}

a {
    color: var(--link-color);
    transition: all 0.3s ease;
}
a:hover {
    filter: brightness(1.2);
}

.spaced {
    margin: 20px;
}

hr {
    box-shadow: 0px 2px 0px rgb(0, 0, 0);
    box-shadow: 0px 0px 3px 3px #4f50533f;
}

.caption {
    font-style: italic;
    font-size: 16px;
    color: var(--caption-color);
}

.title {
    font-size: 80px;
}

.subtitle {
    font-size: 50px;
}

.content {
    width: min(1000px, 100%);
    margin: 2% auto;
}

.markdown-content img {
    width: 90%;
    height: auto;
    margin: 20px auto;
    object-fit: cover;
    display: flex;
}

.markdown-content video {
    width: 90%;
    height: auto;
    margin: 20px auto;
    object-fit: cover;
    display: flex;
}

.markdown-content .caption {
    margin: auto 0;
    text-align: center;
}

iframe {
    width: 100%;
    aspect-ratio: .75;
    margin: 20px 0px;
}

.project-widget {
    position: relative;
    width: auto;
    height: 100%;
    min-height: 250px;
    padding: 20px;
    margin: 20px 0px;
    background-color: var(--background-color-accent);

    background: #030508;
    background: linear-gradient(0deg, rgba(4, 5, 8, 0.5) 0%, rgba(7, 7, 7, 0.5) 100%);

    border-radius: 40px;
    border: 1px #131212 solid;
    box-shadow: 0px 0px 10px #4f50533f;
}

.project-widget-text-container {
    margin-bottom: 28px;
}

.project-widget-date {
    float: right;
    font-style: italic;
    font-size: 16px;
    color: var(--caption-color);
    margin: 20px;
}

.project-widget-description {
    padding: 20px 0px;
}

.project-widget-link {
    text-decoration: none;
}

.project-widget-title {
    font-size: 40px;
    margin: 0px auto;
}

.project-widget-thumbnail {
    width: 400px;
    aspect-ratio: calc(8/5);
    max-width: 100%;
    float: right;
    object-fit: cover;
    border-radius: 20px;
}

.project-widget-tags {
    position: absolute;
    bottom: 20px;
}

.gallery {
    overflow:hidden;
}

.track {
    display: flex;
    width: max-content;
    animation: scroll 75s linear infinite;
}

@keyframes scroll {
  to { transform: translateX(-50%); }
}

.gallery img {
    height: 250px;
    flex: 0 0 auto;
    margin-right: 1rem;
}

.footer-links {
    padding: 0px;
    position: static;
    width: min(1000px, 100%);
    bottom: 0;
    overflow-y: hidden;
}

.main-page-content {
    min-height: 83vh;
}

.footer-links hr {
    margin-top: 40px;
    margin-bottom: 30px;
}

.footer-links a {
    padding: 7px;
    margin: 5px;
}

.main-page-content a {
    text-shadow: 0px 0px 8px var(--text-color);
}